 .u-section-1 {
  background-image: none;
  min-height: 697px;
}

.u-section-1 .u-shape-1 {
  height: 526px;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-1 .u-layout-wrap-1 {
  width: 1140px;
  margin: -472px auto 0;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 643px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-1 .u-container-layout-1 {
  padding: 90px 20px 20px 0;
}

.u-section-1 .u-text-1 {
  font-size: 6rem;
  margin: 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0;
}

.u-section-1 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  margin: 39px auto 0 0;
  padding: 17px 42px 19px 41px;
}

.u-section-1 .u-icon-1 {
  font-size: 1.7858em;
  vertical-align: -4px;
  margin-left: 1px;
}

.u-section-1 .u-social-icons-1 {
  height: 95px;
  min-height: 16px;
  width: 200px;
  min-width: 42px;
  margin: 46px auto 0 22px;
}

.u-section-1 .u-icon-2 {
  height: 100%;
}

.u-section-1 .u-icon-3 {
  height: 100%;
}

.u-section-1 .u-layout-cell-2 {
  min-height: 643px;
}

.u-section-1 .u-container-layout-2 {
  padding: 30px 0;
}

.u-section-1 .u-image-1 {
  --radius: 100px;
  width: 355px;
  height: 509px;
  margin: 0 auto 0 137px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    min-height: 584px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 530px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3.75rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 530px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 44px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    min-height: 1024px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 408px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 30px;
    padding-right: 0;
  }

  .u-section-1 .u-text-1 {
    width: 288px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-text-2 {
    width: 287px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 11px;
    margin-left: auto;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 30px;
    margin-left: auto;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 611px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 50px;
  }

  .u-section-1 .u-image-1 {
    width: 397px;
    height: 478px;
    margin-left: 162px;
  }
}

@media (max-width: 767px) {
   .u-section-1 {
    min-height: 807px;
  }

  .u-section-1 .u-shape-1 {
    height: 730px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 458px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 93px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    min-height: 973px;
  }

  .u-section-1 .u-layout-wrap-1 {
    width: 340px;
    margin-top: -601px;
    margin-bottom: 54px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 374px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 20px;
  }

  .u-section-1 .u-text-1 {
    font-size: 2.25rem;
    width: auto;
    margin-right: -69px;
    margin-left: 79px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
    width: auto;
    margin-right: -54px;
    margin-left: 64px;
  }

  .u-section-1 .u-btn-1 {
    margin-top: 35px;
  }

  .u-section-1 .u-social-icons-1 {
    margin-top: 49px;
    margin-left: 70px;
  }

  .u-section-1 .u-layout-cell-2 {
    min-height: 416px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-left: 5px;
    padding-right: 5px;
  }

  .u-section-1 .u-image-1 {
    width: 295px;
    height: 356px;
    margin-left: auto;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 912px;
}

.u-section-2 .u-icon-1 {
  width: 64px;
  margin: 131px auto 0;
}

.u-section-2 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 22px auto 0;
}

.u-section-2 .u-text-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 41px 0 0;
}

.u-section-2 .u-btn-1 {
  --radius: 50px;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 1px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 48px auto 60px;
  padding: 17px 42px 19px 41px;
}

.u-section-2 .u-icon-2 {
  font-size: 1.7858em;
  vertical-align: -4px;
  margin-left: 1px;
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1698px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-top: 43px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: 46px;
  }
}.u-section-3 .u-sheet-1 {
  min-height: 554px;
}

.u-section-3 .u-layout-wrap-1 {
  margin-top: 1px;
  margin-bottom: 0;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 474px;
  background-image: none;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-1 {
  padding: 5px 30px 28px;
}

.u-section-3 .u-accordion-1 {
  width: 1080px;
  margin: -553px auto 69px;
}

.u-section-3 .u-accordion-item-1 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-3 .u-accordion-link-1 {
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
}

.u-section-3 .u-icon-1 {
  height: 40px;
  width: 40px;
  background-image: none;
  padding: 10px;
}

.u-section-3 .u-accordion-pane-1 {
  min-height: 150px;
  background-image: none;
  margin-left: auto;
  margin-right: 0;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-text-1 {
  margin-left: 0;
  margin-right: 103px;
  line-height: 1.6;
  margin-top: 0;
}

.u-section-3 .u-accordion-item-2 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-3 .u-accordion-link-2 {
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
}

.u-section-3 .u-icon-2 {
  height: 40px;
  width: 40px;
  background-image: none;
  padding: 10px;
}

.u-section-3 .u-accordion-pane-2 {
  min-height: 150px;
  background-image: none;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-text-2 {
  line-height: 1.6;
  margin: 0;
}

.u-section-3 .u-accordion-item-3 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-3 .u-accordion-link-3 {
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
}

.u-section-3 .u-icon-3 {
  height: 40px;
  width: 40px;
  background-image: none;
  padding: 10px;
}

.u-section-3 .u-accordion-pane-3 {
  min-height: 150px;
  background-image: none;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-text-3 {
  margin: 0;
}

.u-section-3 .u-accordion-item-4 {
  margin-left: auto;
  margin-right: auto;
}

.u-section-3 .u-accordion-link-4 {
  font-weight: 700;
  margin-left: auto;
  margin-right: auto;
  padding: 30px;
}

.u-section-3 .u-icon-4 {
  height: 40px;
  width: 40px;
  background-image: none;
  padding: 10px;
}

.u-section-3 .u-accordion-pane-4 {
  min-height: 150px;
  background-image: none;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-text-4 {
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 471px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 391px;
  }

  .u-section-3 .u-accordion-1 {
    width: 940px;
  }

  .u-section-3 .u-text-1 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 379px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 159px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-3 .u-accordion-1 {
    margin-top: -259px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 304px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 314px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 853px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 252px;
  }
} .u-section-4 {
  background-image: none;
  padding-bottom: 80px;
}

.u-section-4 .u-sheet-1 {
  min-height: 692px;
}

.u-section-4 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 85px auto 0;
}

.u-section-4 .u-list-1 {
  width: 915px;
  margin: 27px auto 0;
}

.u-section-4 .u-repeater-1 {
  grid-template-columns: repeat(5, calc(20% - 16px));
  min-height: 133px;
  grid-gap: 20px;
}

.u-section-4 .u-list-item-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
  --radius: 30px;
}

.u-section-4 .u-container-layout-1 {
  padding: 6px 30px 0;
}

.u-section-4 .u-icon-1 {
  height: 44px;
  width: 44px;
  box-shadow: 0px 0px 0px 0 rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  background-image: none;
  margin: 22px auto 0;
  padding: 0;
}

.u-section-4 .u-text-2 {
  margin: 9px auto 0;
}

.u-section-4 .u-list-item-2 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
  --radius: 30px;
}

.u-section-4 .u-container-layout-2 {
  padding: 6px 30px 0;
}

.u-section-4 .u-icon-2 {
  height: 44px;
  width: 44px;
  box-shadow: 0px 0px 0px 0 rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  background-image: none;
  margin: 22px auto 0;
  padding: 0;
}

.u-section-4 .u-text-3 {
  margin: 9px auto 0;
}

.u-section-4 .u-list-item-3 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
  --radius: 30px;
}

.u-section-4 .u-container-layout-3 {
  padding: 6px 30px 0;
}

.u-section-4 .u-icon-3 {
  height: 44px;
  width: 44px;
  box-shadow: 0px 0px 0px 0 rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  background-image: none;
  margin: 22px auto 0;
  padding: 0;
}

.u-section-4 .u-text-4 {
  margin: 9px auto 0;
}

.u-section-4 .u-list-item-4 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
  --radius: 30px;
}

.u-section-4 .u-container-layout-4 {
  padding: 6px 30px 0;
}

.u-section-4 .u-icon-4 {
  height: 44px;
  width: 44px;
  box-shadow: 0px 0px 0px 0 rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  background-image: none;
  margin: 22px auto 0;
  padding: 0;
}

.u-section-4 .u-text-5 {
  margin: 9px auto 0;
}

.u-section-4 .u-list-2 {
  width: 915px;
  margin: 23px auto 0;
}

.u-section-4 .u-repeater-2 {
  grid-template-columns: repeat(5, calc(20% - 16px));
  min-height: 133px;
  grid-gap: 20px;
}

.u-section-4 .u-list-item-5 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
  --radius: 30px;
}

.u-section-4 .u-container-layout-5 {
  padding: 6px 30px 0;
}

.u-section-4 .u-icon-5 {
  height: 44px;
  width: 44px;
  box-shadow: 0px 0px 0px 0 rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  background-image: none;
  margin: 22px auto 0;
  padding: 0;
}

.u-section-4 .u-text-6 {
  margin: 9px auto 0;
}

.u-section-4 .u-list-item-6 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
  --radius: 30px;
}

.u-section-4 .u-container-layout-6 {
  padding: 6px 30px 0;
}

.u-section-4 .u-icon-6 {
  height: 51px;
  width: 44px;
  box-shadow: 0px 0px 0px 0 rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  background-image: none;
  margin: 22px auto 0;
  padding: 0;
}

.u-section-4 .u-text-7 {
  margin: 9px auto 0;
}

.u-section-4 .u-list-item-7 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
  --radius: 30px;
}

.u-section-4 .u-container-layout-7 {
  padding: 6px 30px 0;
}

.u-section-4 .u-icon-7 {
  height: 44px;
  width: 44px;
  box-shadow: 0px 0px 0px 0 rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  background-image: none;
  margin: 22px auto 0;
  padding: 0;
}

.u-section-4 .u-text-8 {
  margin: 9px auto 0;
}

.u-section-4 .u-list-item-8 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
  --radius: 30px;
}

.u-section-4 .u-container-layout-8 {
  padding: 6px 30px 0;
}

.u-section-4 .u-icon-8 {
  height: 44px;
  width: 44px;
  box-shadow: 0px 0px 0px 0 rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  background-image: none;
  margin: 22px auto 0;
  padding: 0;
}

.u-section-4 .u-text-9 {
  margin: 9px auto 0;
}

.u-section-4 .u-list-3 {
  width: 357px;
  margin: 21px auto 60px;
}

.u-section-4 .u-repeater-3 {
  grid-template-columns: repeat(2, calc(50% - 10px));
  min-height: 133px;
  grid-auto-columns: calc(50% - 10px);
  grid-gap: 20px;
}

.u-section-4 .u-list-item-9 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
  --radius: 30px;
}

.u-section-4 .u-container-layout-9 {
  padding: 6px 30px 0;
}

.u-section-4 .u-icon-9 {
  height: 42px;
  width: 44px;
  box-shadow: 0px 0px 0px 0 rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  background-image: none;
  color: rgb(118, 74, 188) !important;
  margin: 22px auto 0;
  padding: 0;
}

.u-section-4 .u-text-10 {
  margin: 9px auto 0;
}

.u-section-4 .u-list-item-10 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 300px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  background-image: none;
  --radius: 30px;
}

.u-section-4 .u-container-layout-10 {
  padding: 6px 30px 0;
}

.u-section-4 .u-icon-10 {
  height: 48px;
  width: 44px;
  box-shadow: 0px 0px 0px 0 rgba(0,0,0,0);
  text-shadow: 0px 0px 0px rgba(0,0,0,0);
  background-image: none;
  margin: 22px auto 0;
  padding: 0;
}

.u-section-4 .u-text-11 {
  margin: 9px auto 0;
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1969px;
  }

  .u-section-4 .u-list-1 {
    width: 720px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: repeat(2, calc(50% - 10px));
    min-height: 575px;
  }

  .u-section-4 .u-icon-1 {
    margin-top: 111px;
  }

  .u-section-4 .u-text-2 {
    width: auto;
  }

  .u-section-4 .u-icon-2 {
    margin-top: 111px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
  }

  .u-section-4 .u-icon-3 {
    margin-top: 111px;
  }

  .u-section-4 .u-text-4 {
    width: auto;
  }

  .u-section-4 .u-icon-4 {
    margin-top: 111px;
  }

  .u-section-4 .u-text-5 {
    width: auto;
  }

  .u-section-4 .u-list-2 {
    margin-top: 22px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-repeater-2 {
    grid-template-columns: repeat(2, calc(50% - 10px));
    min-height: 575px;
  }

  .u-section-4 .u-icon-5 {
    margin-top: 111px;
  }

  .u-section-4 .u-text-6 {
    width: auto;
  }

  .u-section-4 .u-icon-6 {
    height: 44px;
    margin-top: 111px;
  }

  .u-section-4 .u-text-7 {
    width: auto;
  }

  .u-section-4 .u-icon-7 {
    margin-top: 111px;
  }

  .u-section-4 .u-text-8 {
    width: auto;
  }

  .u-section-4 .u-icon-8 {
    margin-top: 111px;
  }

  .u-section-4 .u-text-9 {
    width: auto;
  }

  .u-section-4 .u-list-3 {
    margin-top: 22px;
  }

  .u-section-4 .u-repeater-3 {
    grid-template-columns: 100%;
    min-height: 575px;
    grid-auto-columns: calc(100% - 0px);
  }

  .u-section-4 .u-icon-9 {
    margin-top: 110px;
  }

  .u-section-4 .u-text-10 {
    width: auto;
    margin-top: 22px;
  }

  .u-section-4 .u-icon-10 {
    height: 42px;
    margin-top: 110px;
  }

  .u-section-4 .u-text-11 {
    width: auto;
    margin-top: 22px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-text-1 {
    margin-top: 86px;
  }

  .u-section-4 .u-list-1 {
    width: 540px;
  }

  .u-section-4 .u-repeater-1 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-repeater-2 {
    grid-template-columns: 100%;
  }

  .u-section-4 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-6 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-8 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-repeater-3 {
    grid-auto-columns: 100%;
  }

  .u-section-4 .u-container-layout-9 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-4 .u-container-layout-10 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 2303px;
  }

  .u-section-4 .u-list-1 {
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-repeater-1 {
    min-height: 769px;
  }

  .u-section-4 .u-icon-1 {
    margin-top: 60px;
  }

  .u-section-4 .u-text-2 {
    margin-top: 10px;
  }

  .u-section-4 .u-icon-2 {
    margin-top: 60px;
  }

  .u-section-4 .u-text-3 {
    margin-top: 10px;
  }

  .u-section-4 .u-icon-3 {
    margin-top: 60px;
  }

  .u-section-4 .u-text-4 {
    margin-top: 10px;
  }

  .u-section-4 .u-icon-4 {
    margin-top: 60px;
  }

  .u-section-4 .u-text-5 {
    margin-top: 10px;
  }

  .u-section-4 .u-list-2 {
    margin-top: 16px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-4 .u-repeater-2 {
    min-height: 855px;
  }

  .u-section-4 .u-icon-5 {
    margin-top: 66px;
  }

  .u-section-4 .u-text-6 {
    margin-top: 16px;
  }

  .u-section-4 .u-icon-6 {
    margin-top: 66px;
  }

  .u-section-4 .u-text-7 {
    margin-top: 16px;
  }

  .u-section-4 .u-icon-7 {
    margin-top: 66px;
  }

  .u-section-4 .u-text-8 {
    margin-top: 16px;
  }

  .u-section-4 .u-icon-8 {
    margin-top: 66px;
  }

  .u-section-4 .u-text-9 {
    margin-top: 16px;
  }

  .u-section-4 .u-list-3 {
    margin-top: 27px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-repeater-3 {
    min-height: 420px;
  }

  .u-section-4 .u-icon-9 {
    margin-top: 73px;
  }

  .u-section-4 .u-text-10 {
    margin-top: 10px;
  }

  .u-section-4 .u-icon-10 {
    margin-top: 73px;
  }

  .u-section-4 .u-text-11 {
    margin-top: 10px;
  }
}

.u-block-5514-68:not([data-block-selected]):not([data-cell-selected]),
.u-block-5514-68:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-5514-68:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-5514-68:not([data-block-selected]):not([data-cell-selected]).u-block-5514-68:not([data-block-selected]):not([data-cell-selected]).u-block-5514-68:not([data-block-selected]):not([data-cell-selected]):hover:before {
  background-color: #333129 !important;
}

.u-block-5514-74:not([data-block-selected]):not([data-cell-selected]),
.u-block-5514-74:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-5514-74:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-block-5514-74:not([data-block-selected]):not([data-cell-selected]).u-block-5514-74:not([data-block-selected]):not([data-cell-selected]).u-block-5514-74:not([data-block-selected]):not([data-cell-selected]):hover:before {
  background-color: #333129 !important;
}

.u-block-5514-59:not([data-block-selected]):not([data-cell-selected]),
.u-block-5514-59:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-5514-59:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-5514-59:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-block-5514-59:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-block-5514-65:not([data-block-selected]):not([data-cell-selected]),
.u-block-5514-65:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-5514-65:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-5514-65:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-block-5514-65:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-block-5514-71:not([data-block-selected]):not([data-cell-selected]),
.u-block-5514-71:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-5514-71:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-5514-71:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-block-5514-71:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-block-5514-60:not([data-block-selected]):not([data-cell-selected]),
.u-block-5514-60:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-5514-60:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-5514-60:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-container-layout.hover .u-block-5514-60:not([data-block-selected]):not([data-cell-selected]) {
  color: #ffffff !important;
}

.u-block-5514-61:not([data-block-selected]):not([data-cell-selected]),
.u-block-5514-61:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-5514-61:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-5514-61:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-block-5514-61:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-5514-67:not([data-block-selected]):not([data-cell-selected]),
.u-block-5514-67:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-5514-67:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-5514-67:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-block-5514-67:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-5514-73:not([data-block-selected]):not([data-cell-selected]),
.u-block-5514-73:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-5514-73:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-5514-73:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-block-5514-73:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-block-5514-79:not([data-block-selected]):not([data-cell-selected]),
.u-block-5514-79:not([data-block-selected]):not([data-cell-selected]):before,
.u-block-5514-79:not([data-block-selected]):not([data-cell-selected]) > .u-container-layout:before {
  transition-property: fill, color, background-color, stroke-width, border-style, border-width, border-top-width, border-left-width, border-right-width, border-bottom-width, custom-border, borders, box-shadow, text-shadow, opacity, border-radius, stroke, border-color, font-size, font-style, font-weight, text-decoration, letter-spacing, transform, background-image, background-size, background-position;
}

.u-container-layout:hover .u-block-5514-79:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
}

.u-container-layout.hover .u-block-5514-79:not([data-block-selected]):not([data-cell-selected]) {
  transform: translateX(0px) translateY(-5px) scale(1) !important;
} .u-section-5 {
  min-height: 2707px;
}

.u-section-5 .u-text-1 {
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 0.3;
  margin: 80px auto 0;
}

.u-section-5 .u-text-2 {
  margin: 120px calc(((100% - 1140px) / 2)) 0 calc(((100% - 1140px) / 2)  + 804px);
}

.u-section-5 .u-image-1 {
  width: 777px;
  height: 384px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: -215px auto 0 0;
}

.u-section-5 .u-text-3 {
  margin: -153px calc(((100% - 1140px) / 2)  + 56px) 0 calc(((100% - 1140px) / 2)  + 845px);
}

.u-section-5 .u-btn-1 {
  background-image: none;
  border-style: solid;
  width: 71px;
  font-weight: 600;
  font-size: 1.25rem;
  margin: 16px calc(((100% - 1140px) / 2)  + 132px) 0 auto;
  padding: 0;
}

.u-section-5 .u-btn-2 {
  background-image: none;
  border-style: solid;
  width: 71px;
  font-weight: 600;
  font-size: 1.25rem;
  margin: 19px calc(((100% - 1140px) / 2)  + 119px) 0 auto;
  padding: 0;
}

.u-section-5 .u-image-2 {
  width: 777px;
  height: 384px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 108px 0 0 auto;
}

.u-section-5 .u-text-4 {
  margin: -341px calc(((100% - 1140px) / 2)  + 804px) 0 calc(((100% - 1140px) / 2));
}

.u-section-5 .u-text-5 {
  margin: 23px calc(((100% - 1140px) / 2)  + 855px) 0 calc(((100% - 1140px) / 2)  + 38px);
}

.u-section-5 .u-btn-3 {
  background-image: none;
  border-style: solid;
  width: 71px;
  font-weight: 600;
  font-size: 1.25rem;
  margin: 34px auto 0 calc(((100% - 1140px) / 2)  + 120px);
  padding: 0;
}

.u-section-5 .u-btn-4 {
  background-image: none;
  border-style: solid;
  width: 71px;
  font-weight: 600;
  font-size: 1.25rem;
  margin: 37px auto 0 calc(((100% - 1140px) / 2)  + 106px);
  padding: 0;
}

.u-section-5 .u-image-3 {
  width: 777px;
  height: 385px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 124px auto 0 0;
}

.u-section-5 .u-text-6 {
  margin: -333px calc(((100% - 1140px) / 2)) 0 calc(((100% - 1140px) / 2)  + 804px);
}

.u-section-5 .u-text-7 {
  margin: 23px calc(((100% - 1140px) / 2)  + 51px) 0 calc(((100% - 1140px) / 2)  + 842px);
}

.u-section-5 .u-btn-5 {
  background-image: none;
  border-style: solid;
  width: 71px;
  font-weight: 600;
  font-size: 1.25rem;
  margin: 34px calc(((100% - 1140px) / 2)  + 132px) 0 auto;
  padding: 0;
}

.u-section-5 .u-btn-6 {
  background-image: none;
  border-style: solid;
  width: 71px;
  font-weight: 600;
  font-size: 1.25rem;
  margin: 37px calc(((100% - 1140px) / 2)  + 119px) 0 auto;
  padding: 0;
}

.u-section-5 .u-image-4 {
  width: 777px;
  height: 383px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 158px 0 0 auto;
}

.u-section-5 .u-text-8 {
  margin: -323px calc(((100% - 1140px) / 2)  + 828px) 0 calc(((100% - 1140px) / 2)  + 57px);
}

.u-section-5 .u-text-9 {
  margin: 17px calc(((100% - 1140px) / 2)  + 828px) 0 calc(((100% - 1140px) / 2)  + 45px);
}

.u-section-5 .u-btn-7 {
  background-image: none;
  border-style: solid;
  width: 71px;
  font-weight: 600;
  font-size: 1.25rem;
  margin: 23px auto 0 calc(((100% - 1140px) / 2)  + 132px);
  padding: 0;
}

.u-section-5 .u-btn-8 {
  background-image: none;
  border-style: solid;
  width: 71px;
  font-weight: 600;
  font-size: 1.25rem;
  margin: 37px auto 0 calc(((100% - 1140px) / 2)  + 119px);
  padding: 0;
}

.u-section-5 .u-image-5 {
  width: 777px;
  height: 383px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 158px auto 0 0;
}

.u-section-5 .u-text-10 {
  margin: -355px calc(((100% - 1140px) / 2)  + 19px) 0 calc(((100% - 1140px) / 2)  + 810px);
}

.u-section-5 .u-text-11 {
  margin: 16px calc(((100% - 1140px) / 2)  + 45px) 0 calc(((100% - 1140px) / 2)  + 835px);
}

.u-section-5 .u-btn-9 {
  background-image: none;
  border-style: solid;
  width: 71px;
  font-weight: 600;
  font-size: 1.25rem;
  margin: 36px calc(((100% - 1140px) / 2)  + 132px) 0 auto;
  padding: 0;
}

.u-section-5 .u-btn-10 {
  background-image: none;
  border-style: solid;
  width: 71px;
  font-weight: 600;
  font-size: 1.25rem;
  margin: 37px calc(((100% - 1140px) / 2)  + 119px) 60px auto;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-text-2 {
    margin-top: -376px;
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2)  + 729px);
  }

  .u-section-5 .u-image-1 {
    margin-top: -486px;
    margin-right: calc(((100% - 940px) / 2)  + -43px);
  }

  .u-section-5 .u-text-3 {
    margin-top: 127px;
    margin-right: calc(((100% - 940px) / 2)  + -39px);
    margin-left: calc(((100% - 940px) / 2)  + 741px);
  }

  .u-section-5 .u-btn-1 {
    margin-top: 27px;
    margin-right: calc(((100% - 940px) / 2)  + 116px);
  }

  .u-section-5 .u-btn-2 {
    margin-right: calc(((100% - 940px) / 2)  + 89px);
  }

  .u-section-5 .u-image-2 {
    margin-top: -64px;
    margin-left: calc(((100% - 940px) / 2)  + 82px);
  }

  .u-section-5 .u-text-4 {
    margin-top: -181px;
    margin-right: calc(((100% - 940px) / 2)  + 604px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-5 .u-text-5 {
    margin-right: calc(((100% - 940px) / 2)  + 693px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-5 .u-btn-3 {
    margin-left: calc(((100% - 940px) / 2)  + 120px);
  }

  .u-section-5 .u-btn-4 {
    margin-left: calc(((100% - 940px) / 2)  + 106px);
  }

  .u-section-5 .u-image-3 {
    filter: brightness(0.9);
    inset: auto;
    margin-top: -291px;
  }

  .u-section-5 .u-text-6 {
    margin-top: 20px;
    margin-right: 86px;
    margin-left: calc(((100% - 940px) / 2)  + 603px);
  }

  .u-section-5 .u-text-7 {
    margin-top: 106px;
    margin-right: calc(((100% - 940px) / 2)  + 197px);
    margin-left: calc(((100% - 940px) / 2)  + 549px);
  }

  .u-section-5 .u-btn-5 {
    margin-top: -128px;
    margin-right: calc(((100% - 940px) / 2)  + 132px);
  }

  .u-section-5 .u-btn-6 {
    margin-right: calc(((100% - 940px) / 2)  + 119px);
  }

  .u-section-5 .u-text-8 {
    margin-top: -487px;
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2)  + 17px);
  }

  .u-section-5 .u-text-9 {
    margin-top: 24px;
    margin-right: calc(((100% - 940px) / 2)  + 660px);
    margin-left: calc(((100% - 940px) / 2));
  }

  .u-section-5 .u-btn-7 {
    margin-top: 17px;
    margin-left: calc(((100% - 940px) / 2)  + 132px);
  }

  .u-section-5 .u-btn-8 {
    margin-left: calc(((100% - 940px) / 2)  + 119px);
  }

  .u-section-5 .u-image-5 {
    filter: brightness(0.9);
  }

  .u-section-5 .u-text-10 {
    margin-top: -269px;
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2)  + 760px);
  }

  .u-section-5 .u-text-11 {
    margin-top: 20px;
    margin-right: calc(((100% - 940px) / 2));
    margin-left: calc(((100% - 940px) / 2)  + 745px);
  }

  .u-section-5 .u-btn-9 {
    margin-top: 20px;
    margin-right: calc(((100% - 940px) / 2)  + 132px);
  }

  .u-section-5 .u-btn-10 {
    margin-top: 66px;
    margin-right: calc(((100% - 940px) / 2)  + 119px);
  }
}

@media (max-width: 991px) {
   .u-section-5 {
    min-height: 3281px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
    margin-top: 86px;
  }

  .u-section-5 .u-text-2 {
    width: 615px;
    margin-top: 441px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-image-1 {
    width: 720px;
    height: 356px;
    margin-top: -547px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-3 {
    width: auto;
    margin-top: 200px;
    margin-right: calc(((100% - 720px) / 2)  + 218px);
    margin-left: calc(((100% - 720px) / 2)  + 243px);
  }

  .u-section-5 .u-btn-1 {
    margin-top: 13px;
    margin-right: auto;
    width: auto;
  }

  .u-section-5 .u-btn-2 {
    margin-top: 15px;
    margin-right: auto;
    width: auto;
  }

  .u-section-5 .u-image-2 {
    width: 720px;
    height: 356px;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-4 {
    width: auto;
    margin-top: 37px;
    margin-right: calc(((100% - 720px) / 2)  + 55px);
    margin-left: calc(((100% - 720px) / 2)  + 80px);
  }

  .u-section-5 .u-text-5 {
    width: auto;
    margin-top: 10px;
    margin-right: calc(((100% - 720px) / 2)  + 221px);
    margin-left: calc(((100% - 720px) / 2)  + 252px);
  }

  .u-section-5 .u-btn-3 {
    margin-top: 18px;
    margin-right: calc(((100% - 720px) / 2)  + 302px);
    margin-left: auto;
  }

  .u-section-5 .u-btn-4 {
    margin-top: 11px;
    margin-right: calc(((100% - 720px) / 2)  + 289px);
    margin-left: auto;
  }

  .u-section-5 .u-image-3 {
    width: 720px;
    height: 357px;
    margin-top: 25px;
    margin-left: auto;
  }

  .u-section-5 .u-text-6 {
    width: auto;
    margin-top: 37px;
    margin-right: calc(((100% - 720px) / 2)  + 52px);
    margin-left: calc(((100% - 720px) / 2)  + 83px);
  }

  .u-section-5 .u-text-7 {
    width: auto;
    margin-top: 21px;
    margin-right: calc(((100% - 720px) / 2)  + 211px);
    margin-left: calc(((100% - 720px) / 2)  + 242px);
  }

  .u-section-5 .u-btn-5 {
    margin-top: 17px;
    margin-right: auto;
  }

  .u-section-5 .u-btn-6 {
    margin-top: 16px;
    margin-right: auto;
  }

  .u-section-5 .u-image-4 {
    width: 720px;
    height: 355px;
    margin-top: 33px;
    margin-right: auto;
  }

  .u-section-5 .u-text-8 {
    width: 475px;
    margin-top: 33px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-9 {
    width: 276px;
    margin-top: 8px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-btn-7 {
    margin-top: 9px;
    margin-left: auto;
  }

  .u-section-5 .u-btn-8 {
    margin-top: 14px;
    margin-left: auto;
  }

  .u-section-5 .u-image-5 {
    width: 720px;
    height: 355px;
    margin-top: 47px;
    margin-left: auto;
  }

  .u-section-5 .u-text-10 {
    width: auto;
    margin-top: 25px;
    margin-right: calc(((100% - 720px) / 2)  + 75px);
    margin-left: calc(((100% - 720px) / 2)  + 115px);
  }

  .u-section-5 .u-text-11 {
    width: 260px;
    margin-top: 11px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-btn-9 {
    margin-top: 7px;
    margin-right: auto;
  }

  .u-section-5 .u-btn-10 {
    margin-top: 18px;
    margin-right: auto;
    margin-bottom: -172px;
  }
}

@media (max-width: 767px) {
   .u-section-5 {
    min-height: 2836px;
  }

  .u-section-5 .u-text-2 {
    margin-top: 122px;
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2)  + 329px);
    width: 540px;
  }

  .u-section-5 .u-image-1 {
    width: 540px;
    height: 267px;
    margin-top: -337px;
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-5 .u-text-3 {
    margin-top: 136px;
    margin-right: calc(((100% - 540px) / 2)  + -39px);
    margin-left: calc(((100% - 540px) / 2)  + 341px);
  }

  .u-section-5 .u-btn-1 {
    width: 71px;
    margin-top: 62px;
    margin-right: calc(((100% - 540px) / 2)  + 116px);
  }

  .u-section-5 .u-btn-2 {
    width: 71px;
    margin-right: calc(((100% - 540px) / 2)  + 89px);
  }

  .u-section-5 .u-image-2 {
    width: 540px;
    height: 267px;
    margin-top: -410px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-5 .u-text-4 {
    margin-right: calc(((100% - 540px) / 2)  + 204px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-5 .u-text-5 {
    margin-right: calc(((100% - 540px) / 2)  + 293px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-5 .u-btn-3 {
    margin-right: calc(((100% - 540px) / 2)  + 122px);
    margin-left: calc(((100% - 540px) / 2)  + 120px);
  }

  .u-section-5 .u-btn-4 {
    margin-right: calc(((100% - 540px) / 2)  + 289px);
    margin-left: calc(((100% - 540px) / 2)  + 106px);
  }

  .u-section-5 .u-image-3 {
    filter: brightness(0.9);
    width: 540px;
    height: 268px;
  }

  .u-section-5 .u-text-6 {
    margin-right: 86px;
    margin-left: calc(((100% - 540px) / 2)  + 347px);
  }

  .u-section-5 .u-text-7 {
    margin-top: 20px;
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2)  + 346px);
  }

  .u-section-5 .u-btn-5 {
    margin-top: 20px;
    margin-right: calc(((100% - 540px) / 2)  + 132px);
  }

  .u-section-5 .u-btn-6 {
    margin-right: calc(((100% - 540px) / 2)  + 119px);
  }

  .u-section-5 .u-image-4 {
    width: 540px;
    height: 266px;
  }

  .u-section-5 .u-text-8 {
    margin-left: calc(((100% - 540px) / 2));
    margin-right: calc(((100% - 540px) / 2));
  }

  .u-section-5 .u-text-9 {
    margin-right: calc(((100% - 540px) / 2)  + 260px);
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-5 .u-btn-7 {
    margin-right: calc(((100% - 540px) / 2)  + 96px);
    margin-left: calc(((100% - 540px) / 2)  + 132px);
  }

  .u-section-5 .u-btn-8 {
    margin-left: calc(((100% - 540px) / 2)  + 119px);
  }

  .u-section-5 .u-image-5 {
    filter: brightness(0.9);
    width: 540px;
    height: 266px;
  }

  .u-section-5 .u-text-10 {
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2)  + 360px);
  }

  .u-section-5 .u-text-11 {
    margin-top: 20px;
    margin-right: calc(((100% - 540px) / 2));
    margin-left: calc(((100% - 540px) / 2)  + 345px);
  }

  .u-section-5 .u-btn-9 {
    margin-right: calc(((100% - 540px) / 2)  + 132px);
  }

  .u-section-5 .u-btn-10 {
    margin-right: calc(((100% - 540px) / 2)  + 119px);
    margin-bottom: -409px;
  }
}

@media (max-width: 575px) {
   .u-section-5 {
    min-height: 2742px;
  }

  .u-section-5 .u-text-1 {
    margin-top: 47px;
  }

  .u-section-5 .u-text-2 {
    width: 340px;
    margin-top: 256px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-image-1 {
    width: 340px;
    height: 168px;
    margin-top: -389px;
    margin-right: auto;
  }

  .u-section-5 .u-text-3 {
    width: 238px;
    margin-top: 238px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-btn-1 {
    margin-top: 24px;
    margin-right: auto;
    margin-left: calc(((100% - 340px) / 2)  + 114px);
    width: auto;
  }

  .u-section-5 .u-btn-2 {
    margin-top: 28px;
    margin-right: auto;
    margin-left: calc(((100% - 340px) / 2)  + 101px);
  }

  .u-section-5 .u-image-2 {
    width: 340px;
    height: 168px;
    margin-top: 47px;
    margin-left: calc(((100% - 340px) / 2)  + -8px);
  }

  .u-section-5 .u-text-4 {
    width: 336px;
    margin-top: 17px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-5 {
    width: 220px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-btn-3 {
    margin-top: 9px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-btn-4 {
    margin-top: 21px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-image-3 {
    width: 340px;
    height: 169px;
    margin-top: 47px;
  }

  .u-section-5 .u-text-6 {
    width: 325px;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-7 {
    width: 216px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-btn-5 {
    margin-top: 42px;
    margin-right: auto;
  }

  .u-section-5 .u-btn-6 {
    margin-right: auto;
  }

  .u-section-5 .u-image-4 {
    width: 340px;
    height: 167px;
    margin-top: 63px;
  }

  .u-section-5 .u-text-8 {
    width: 340px;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-9 {
    width: 234px;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-btn-7 {
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-btn-8 {
    margin-top: 24px;
    margin-left: auto;
  }

  .u-section-5 .u-image-5 {
    width: 340px;
    height: 167px;
  }

  .u-section-5 .u-text-10 {
    width: 340px;
    margin-top: 24px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-text-11 {
    width: 244px;
    margin-top: 5px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-5 .u-btn-9 {
    margin-top: 37px;
    margin-right: auto;
  }

  .u-section-5 .u-btn-10 {
    margin-top: 34px;
    margin-right: auto;
    margin-bottom: 60px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 827px;
}

.u-section-6 .u-layout-wrap-1 {
  width: 1140px;
  margin: 70px 0 0;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 717px;
  --radius: 50px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px;
}

.u-section-6 .u-layout-wrap-2 {
  margin-top: -687px;
  margin-bottom: 60px;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 660px;
  --animation-custom_in-translate_x: -300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-2 {
  padding: 27px 0 0;
}

.u-section-6 .u-text-1 {
  margin: 0 54px 0 50px;
}

.u-section-6 .u-form-1 {
  height: 436px;
  width: 468px;
  margin: 22px auto 0;
}

.u-section-6 .u-input-1 {
  height: 55px;
}

.u-section-6 .u-input-2 {
  height: 55px;
}

.u-section-6 .u-form-group-3 {
  margin-left: 0;
}

.u-section-6 .u-label-3 {
  height: 55px;
}

.u-section-6 .u-input-3 {
  height: 55px;
}

.u-section-6 .u-btn-1 {
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  background-image: none;
  width: 100%;
  --radius: 50px;
  padding: 21px 0 22px;
}

.u-section-6 .u-layout-cell-3 {
  min-height: 660px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-6 .u-container-layout-3 {
  padding: 0 30px;
}

.u-section-6 .u-image-1 {
  object-position: 50% 50%;
  height: 541px;
  margin-top: 0;
  margin-bottom: 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 701px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 591px;
    background-position: 50% 50%;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 544px;
  }

  .u-section-6 .u-text-1 {
    margin-right: 4px;
    margin-left: 0;
  }

  .u-section-6 .u-form-group-3 {
    margin-top: -7px;
    margin-right: 104px;
    margin-bottom: 0;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 544px;
  }

  .u-section-6 .u-image-1 {
    height: 435px;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 685px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 645px;
  }

  .u-section-6 .u-layout-wrap-2 {
    margin-top: -655px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 585px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-top: 0;
  }

  .u-section-6 .u-text-1 {
    margin-right: 0;
  }

  .u-section-6 .u-form-1 {
    height: 431px;
    width: 360px;
    margin-top: 21px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 585px;
  }

  .u-section-6 .u-container-layout-3 {
    padding-left: 0;
    padding-right: 0;
  }

  .u-section-6 .u-image-1 {
    height: 372px;
    width: 282px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 244px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 679px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 626px;
  }

  .u-section-6 .u-image-1 {
    height: 551px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 975px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 340px;
    margin-top: 447px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 428px;
  }

  .u-section-6 .u-layout-wrap-2 {
    margin-top: -783px;
    margin-bottom: 0;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 519px;
  }

  .u-section-6 .u-form-1 {
    margin-top: 5px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-6 .u-layout-cell-3 {
    min-height: 394px;
  }

  .u-section-6 .u-image-1 {
    height: 339px;
    margin-top: 17px;
  }
}